---
import Experience from "./SimpleExperience.astro";
---

<section id="home" class="fade-in rounded-3xl flex flex-col lg:flex-row items-start lg:justify-between gap-6">
    <article class="md:text-xl lg:text-2xl w-screen xl:w-1/2">
        <h1 class="text-2xl xl:text-3xl font-semibold mb-8">Hola!</h1>
        <p>Mi nombre es Benjamín y soy programador informático.</p>
        <p>Me encanta trabajar en el desarrollo de sitios web. Además, me encanta la docencia. </p>
        <div class="flex flex-col items-start md:flex-row lg:items-center gap-4 py-6">
            <a href="#projects" class="button_2">Ver proyectos</a>
            <a href="/files/CV.pdf" download="Mi_CV.pdf" class="button_2">Descargar CV</a>
        </div>
    </article>
    <div class="hidden 2xl:flex justify-end">
        <Experience />
    </div>
    <div class="hidden lg:block 2xl:hidden">
        <img src="/me.webp" alt="me_photo" class="rounded-image" >
    </div>
</section>